@model Taxi_Sluzba.Models.Musterija
@{
    ViewBag.Title = "Index";
}

<html>
<body>
    @using (Html.BeginForm("RegisterUser", "Register", FormMethod.Post))
    {
        @Html.DisplayNameFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName)
        <br />
        @Html.DisplayNameFor(model => model.Password)
        @Html.TextBoxFor(model => model.Password)
        <br />
        @Html.DisplayNameFor(model => model.Ime)
        @Html.TextBoxFor(model => model.Ime)
        <br />
        @Html.DisplayNameFor(model => model.Prezime)
        @Html.TextBoxFor(model => model.Prezime)
        <br />
        @Html.DisplayNameFor(model => model.JMBG)
        @Html.TextBoxFor(model => model.JMBG)
        <br />
        @Html.DisplayNameFor(model => model.Telefon)
        @Html.TextBoxFor(model => model.Telefon)
        <br />
        @Html.DisplayNameFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)
        <br />
        //@Html.DisplayNameFor(model => model.Pol)
        <br/>
        <span>Male</span>
         @Html.RadioButtonFor(model => model.Pol, Taxi_Sluzba.Enums.Pol.MALE)
        <span>Female</span>
         @Html.RadioButtonFor(model => model.Pol, Taxi_Sluzba.Enums.Pol.FEMALE)
            <hr />

        <input type="submit" value="Register" />
    }
</body>
</html>


