@model Taxi_Sluzba.Models.Voznja
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <h3 style="color:red">@Html.DisplayNameFor(model => model.Status): 
        @Html.DisplayFor(model => model.Status)
    </h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DatumIVreme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIVreme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Komentar.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Komentar.Ocena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musterija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musterija.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Komentar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Komentar.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vozac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vozac.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipAutomobila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipAutomobila)
        </dd>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dispecer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dispecer.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iznos)
        </dd>
        @{
            if (@Model.Odrediste != null)
            {
            <dt>
                @Html.DisplayNameFor(model => model.Odrediste)
            </dt>

            <dd>
                <label for="Odrediste">@Model.Odrediste.Adresa.ToString()</label>
            </dd>
                }
           }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
