@using Taxi_Sluzba.Models
@model Taxi_Sluzba.ViewModel.KorisnikVoznjeVM
@{
    ViewBag.Title = "DispecerView";
    //Korisnik user = Session["User"] as Korisnik;
    Dictionary<string, Voznja> voznje = HttpContext.Current.Application["voznje"] as Dictionary<string, Voznja>;
}

<html>


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/tableStyle.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {

            function updateView() {
                var selectedFilter = jQuery("#cbxFilter option:selected").text();
                var selectedSorting = jQuery("#cbxSort option:selected").text();
                window.location.href = "/Dispecer/Index?filter=" + selectedFilter + "&sort=" + selectedSorting;
            }

            $('#cbxFilter').on('change', updateView);
            $('#cbxSort').on('change', updateView);
        });
    </script>
</head>

<body>
    <h2>DispecerView</h2>
    <h4>Pozdrav @Model.Korisnik.UserName</h4>
    <br />
    <p>Vi ste dispecer!</p>
    <hr />
    @{
        SelectList statusKodovi = new SelectList(new List<string>() {
            "ALL", "KREIRANA_NA_CEKANJU","FORMIRANA", "PRIHVACENA", "OBRADJENA", "NEUSPESNA", "USPESNA",

        }, Model.Status);

        SelectList sortOptions = new SelectList(new List<string>()
        {
            "Datum", "Ocena",
        });
    }
    <div id="tableDIV">
        <div style="float:left">
            Moje voznje
        </div>        
        <table border="1" id="voznjeList">
            <tr>
                <th>
                    Datum i vreme
                </th>
                <th>
                    Lokacija
                </th>
                <th>
                    Tip vozila
                </th>
                <th>
                    Status
                </th>
                @*<th>
                        Musterija
                    </th>*@
                <th>
                    Akcije
                </th>
            </tr>
            @foreach (Voznja v in voznje.Values.Where(v => (v.Dispecer != null && v.Dispecer.UserName == Model.Korisnik.UserName)))
            {
                <tr>
                    <td>
                        @v.DatumIVreme.ToString()
                    </td>
                    <td>
                        @v.LokacijaMusterije.Adresa.ToString()
                    </td>
                    <td>
                        @v.TipAutomobila.ToString()
                    </td>
                    <td>
                        @v.Status.ToString()
                    </td>
                    @*<td>
                            @v.Musterija.UserName
                        </td>*@
                    <td>
                        @Html.ActionLink("Detaljnije", "Details", new { id = v.ID })
                        @if (v.Status == Taxi_Sluzba.Enums.StatusVoznje.KREIRANA_NA_CEKANJU && v.Vozac == null)
                        {
                            <span>|</span>
                            @Html.ActionLink("Obradi", "ObradiVoznju", new { id = v.ID })
                            <span>|</span>
                            @Html.ActionLink("Izmeni", "Izmeni", new { id = v.ID })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
    <div>
        <div style="float:left">
            Ostale voznje
        </div> 
        <div style="float:right">
            Filter @Html.DropDownList("filter", statusKodovi, null, new { id = "cbxFilter" })
        </div>
        <div style="float:right">
            Sort by @Html.DropDownList("sort", sortOptions, null, new { id = "cbxSort" })
        </div>
        <table border="1" id="voznjeList">
            <tr>
                <th>
                    Datum i vreme
                </th>
                <th>
                    Lokacija
                </th>
                <th>
                    Tip Vozila
                </th>
                <th>
                    Status
                </th>
                <th>
                    Ocena
                </th>
                <th>
                    Akcije
                </th>
            </tr>
            @foreach (Voznja v in Model.Voznje.Where(v => (v.Status == Taxi_Sluzba.Enums.StatusVoznje.KREIRANA_NA_CEKANJU) || v.Dispecer == null || v.Dispecer.UserName != Model.Korisnik.UserName))
            {
                <tr>
                    <td>
                        @v.DatumIVreme.ToString()
                    </td>
                    <td>
                        @v.LokacijaMusterije.Adresa.ToString()
                    </td>
                    <td>
                        @v.TipAutomobila.ToString()
                    </td>
                    <td>
                        @v.Status.ToString()
                    </td>
                    <td>
                        @v.Komentar.Ocena
                    </td>
                    <td>
                        @Html.ActionLink("Detaljnije", "Details", new { id = v.ID })
                        @if (v.Status == Taxi_Sluzba.Enums.StatusVoznje.KREIRANA_NA_CEKANJU && v.Vozac == null)
                        {
                            <span>|</span>
                            @Html.ActionLink("Obradi", "ObradiVoznju", new { id = v.ID })
                        }
                    </td>
                </tr>
            }
        </table>
    </div>

    @Html.ActionLink("Formiraj novu voznju", "FormirajVoznju", "Dispecer")
    <hr />
    @Html.ActionLink("Moj profil", "ChangeUserData", "Main")
    <br />
    @Html.ActionLink("Logout", "Logout", "Login")
</body>
</html>